:root {
    --dark-green: #1e3d2f;
    --light-beige: #f5f0e6;
    --white: #ffffff;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--light-beige);
    color: var(--dark-green);
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    z-index: 1000;
}

.navbar>* {
    flex: 1;
    text-align: center;
}

.navbar>.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.nav-item {
    text-decoration: none;
    color: #ccc;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-item:hover,
.nav-item.active {
    color: var(--white);
    font-weight: bold;
}

.nav-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-99%);
    z-index: 2;
    display: block;
    pointer-events: auto;
}

.nav-logo img {
    height: 80px;
    max-height: 100%;
    display: block;
}




.about-section {
    min-height: 100vh;
    padding: 4em 6em;
    background-color: var(--light-beige);
    color: var(--dark-green);
    font-family: 'Segoe UI', sans-serif;
}

.about-container {
    max-width: 900px;
    margin: 0 auto;
}

.about-section h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.about-link {
    color: var(--dark-green);
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s, transform 0.3s;
}

.about-link:hover {
    color: #2f5d45;
    transform: translateY(-2px);
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

.about-section p:last-of-type {
    margin-top: 3.5rem;
}

.social-links {
    position: absolute;
    top: 50%;
    right: 6rem;
    transform: translateY(-50%);
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;

    z-index: 1000;
}

.social-links a {
    display: block;
}

.social-links img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    pointer-events: auto;
}